.navbar-nav li a{
    color: white;
}
.title{
    font-size: 45;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.headerSpace{

    height: 100vh;
    width:  100vw;

}
.h4{
    margin: 1%;
}
.centerD{
    text-align: center;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}