.navbar-brand{
color: black;
}
.nav-link {
    color: aliceblue;
}
.aboutSection{
padding-left: 1%;
}
.profilePic{
    border: 5px solid rgb(0, 0, 0);
    margin-left: 1%;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    margin-bottom: 10%;
  }
  .nav{
    padding: 2%;
  }
.aboutText{
    padding-top: 1%;
    font-size: large;
}
.worksSection{
    padding-left: 1%;
}
.workText{
    padding-left: 1%;
}
.container.titleBox{
    align-content: center;
}
body {
    padding-top: 3%;
  }
button{
    margin-left: 2%
}
.navbar-orange{
    background-color:#1702f7;
}